.BurgerNavigation {
  display: block;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  z-index: 55;
  top: 0;
  left: 0;
  background-color: #303133;
  opacity: 0.98;
  padding: 30px 0 30px 0;
}
.Logo img {
  display: flex;
  width: 90px;
  padding: 15px 0 15px 0;
  margin: 0 auto;
}

.Menu {
  display: flex;
  flex-flow: column;
}
.Menu a {
  list-style: none;
}

.Link {
  font-weight: 500;
  text-decoration: none;
  color: azure;
  margin: auto;
  list-style: none;
  padding: 15px 0 15px 0;
}
.Link:hover {
  transform: scale(1.1);
  color: #fdb822;
}

@media screen and (min-width: 1023px) {
  .BurgerNavigation {
    display: none;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
    height: 0px;
  }
  to {
    opacity: 1;
    height: 20px;
  }
}
